.form-wrapper {
  float : left;	
}

.dynamic_filter_label {
  color : brown;	
}

.dynamic_filter_price {
  display : inline-block;
  border : 5px;
}

.dynamic_filter_inline {
  display : inline-block;
}

.more {
  cursor : pointer;
  font-style : italic;
  border-bottom : 1px dotted;
  width : 30%;
}

.filter_values {
  position : absolute;
  z-index : 500;
  background : white;
  left : 35px;
  top : 10px;
  display : none;
  width: 150px;
  border:groove;
  border-color:#ddbca4;
}

.page-taxonomy .region-navigation {
  background : none;
}