.message {
  width: 250px; 
  height: 250px; 
  position: absolute;
}

#wind{
  width: 250px; 
  height: 500px;  
  border-radius: 5px;	
  background: ivory;
  position: fixed; 
  display: none; 
  opacity: 0; 
  z-index: 100; 
  padding: 20px 10px; 
  top:5%;
  left:45%;
  
}

/* header of popup */
.header{
 background:yellowgreen;    
 width: 250px; 
 height: 40px;   
 z-index: 100;
 cursor: pointer;
}

/* close buttom */
#wind a.close {
  float: right;
}

/* overlay */
#overlay{
    background:#000000;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:50;  
    opacity : 0.5;
}
